.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 69px;
  width: 50px;
  padding: 20px 50px 20px 50px;
  cursor: initial;
}

.icon-icon {
  width: 50px;
  height: 50px;
  user-select: none;
}

.icon-text {
  color: white;
  white-space: nowrap;
  padding-top: 5px;
  font-size: 15px;
  font-family: sans-serif;
  user-select: none;
}

.icon-selected {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: darkblue;
  border: 1px dotted white;
  opacity: 0.3;
  border-radius: 5px;
  border: none;
}